
/* Tooltip container */
.tooltip_text {
    visibility: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: -5px;
}
  
.list-inline-item:hover .tooltip_text {
    visibility: visible;
}